@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 30.7 15% 95%;
    --foreground: 30.7 5% 10%;
    --card: 30.7 15% 90%;
    --card-foreground: 30.7 5% 12%;
    --popover: 30.7 15% 95%;
    --popover-foreground: 30.7 95% 10%;
    --primary: 30.7 97.2% 72.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 30.7 15% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -7.300000000000001 15% 85%;
    --muted-foreground: 30.7 5% 35%;
    --accent: -7.300000000000001 15% 80%;
    --accent-foreground: 30.7 5% 12%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 30.7 5% 90%;
    --border: 30.7 20% 50%;
    --input: 30.7 20% 18%;
    --ring: 30.7 97.2% 72.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 30.7 15% 10%;
    --foreground: 30.7 5% 90%;
    --card: 30.7 15% 10%;
    --card-foreground: 30.7 5% 90%;
    --popover: 30.7 15% 5%;
    --popover-foreground: 30.7 5% 90%;
    --primary: 30.7 97.2% 72.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 30.7 15% 12%;
    --secondary-foreground: 0 0% 100%;
    --muted: -7.300000000000001 15% 15%;
    --muted-foreground: 30.7 5% 60%;
    --accent: -7.300000000000001 15% 15%;
    --accent-foreground: 30.7 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 30.7 5% 90%;
    --border: 30.7 20% 18%;
    --input: 30.7 20% 18%;
    --ring: 30.7 97.2% 72.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
